body {
  background-color: #1a1a1a;
  color: #e6e6e6;
  font-size: 1em;
}

section {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  box-sizing: border-box;
  margin: 0 auto;
}

hr {
  border: none;
  border-bottom: 2px solid #404040;
  margin: 12px 0;
}

#title {
  margin: 0;
}

.table_container {
  position: relative;
  border-radius: 12px;
  overflow: auto;
  border: 2px solid #404040;
  flex: 1;
  margin-bottom: 12px;
}

.totals_table {
  position: relative;
  border-radius: 12px;
  overflow: auto;
  width: 100%;
  border: 2px solid #404040;
}

.totals_table_head th {
  border-bottom: 2px solid #404040;
}

.table_container thead {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #262626;
  width: 100%;
}

.table_header th {
  border-bottom: 2px solid #404040;
}

tfoot {
  position: sticky;
  bottom: 0px;
  left: 0;
  background-color: #262626;
}

tfoot td {
  border-top: 2px solid #404040;
}

table {
  border-spacing: 0px;
  background-color: #262626;
  width: 100%;
}

.table_header th {
  cursor: pointer;
  user-select: none;
}

tr:not(:last-child) td,
tr:not(:last-child) th {
  border-bottom: 2px solid #404040;
}

td,
th {
  text-align: left;
  margin: 0;
  padding: 8px 12px;
}

td:not(:last-child),
th:not(:last-child) {
  border-right: 2px solid #404040;
}

tr:nth-child(even) {
  background-color: #333333;
}

.selected {
  background-color: #666666;
}

.primary {
  background-color: #333333;
}

.selected.primary {
  background-color: #999999;
}

.options {
  width: 100%;
  background-color: #262626;
  border: 2px solid #404040;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
}

.options> :not(:first-child) {
  margin-left: 12px;
}

select {
  background-color: #404040;
  border: 2px solid #595959;
  padding: 4px 6px;
  color: inherit;
  border-radius: 12px;
  font: inherit;
  font-size: inherit;
  height: 36px;
  flex: 1;
  width: fit-content;
}

button {
  background-color: #737373;
  border: 2px solid #999999;
  padding: 4px 12px;
  color: inherit;
  border-radius: 12px;
  font: inherit;
  font-size: inherit;
  height: 36px;
  cursor: pointer;
  width: fit-content;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer> :first-child {
  flex: 1;
  text-align: start;
}

.footer> :last-child {
  flex: 1;
  text-align: end;
}

.footer_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.update_button {
  margin-left: 12px;
  text-decoration: none;
  color: inherit;
}

.balance {
  width: 100%;
  background-color: #262626;
  border: 2px solid #404040;
  box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 12px;
}

.balance_header th {
  border-bottom: 2px solid #404040;
}

#dining_dollars {
  font-size: 48px;
  font-weight: bold;
}

.info_card_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -12px;
  margin-top: 0;
  margin-bottom: 0;
}

.info_card {
  background-color: #262626;
  border: 2px solid #404040;
  box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 12px;
  height: 140px;
  padding: 18px;
  padding-bottom: 12px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info_card_content {
  min-width: 200px;
  overflow: auto;
}

.info_title {
  color: #cccccc;
  margin: 0;
  flex: 1;
}

.info_body {
  flex: 0;
  font-size: 60px;
  font-weight: bold;
}